:root {
  --color-primario: #101621;
  --color-heading: #ffffff;
  --fuente-prinipal: "Roboto", sans-serif;
  --color-svg: #125aea;
  --color-border: #1b3c6e;
  --color-secundario: #1250cf;
  --bg-border: #101c36;
  --contacto: #7a879c;
  --color-sobre-mi: #1150d2;
  --color-card: #192233;
  --color-btn-primario: #135BEC;
  --bg-card-habilidades: #172C56;
  --color-herramientas: #0F1521;
}

html {
  box-sizing: border-box;
  /*El box-sizing es para que el padding no afecte el ancho de los elementos*/
  font-size: 62.5%;
  /*Para que 1 rem = a 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--fuente-prinipal);
  margin: 0;
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  color: var(--color-heading);
  font-family: var(--fuente-prinipal);
  font-size: 1.7rem;
  font-weight: 400;
}

a:hover {
  color: var(--color-svg);
  transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--fuente-prinipal);
  margin: 0;
  /* Elimina el margen por defecto del body */
  display: flex;
  flex-direction: column;
  /* Para que el footer se mantenga al final */
  /* Fondo con degradado radial */
  background-color: #0a1628;
  background-image: radial-gradient(
      circle at top right,
      rgba(59, 130, 246, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(109, 40, 217, 0.2),
      transparent 40%
    );
  min-height: 100vh;
  /* Fondo con degradado radial */
}

/* Header */
.contenedor {
  background-color: var(--color-primario);
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navegacion__direccion {
  display: block;
  text-align: center;
  margin-top: 0.7rem;
}

.navegacion__direccion:last-child {
  margin-bottom: none;
}

/* main */
.hero {
  text-align: center;
  padding: 1.5rem;
}

.legend {
  margin: 0 auto;
  font-weight: 800;
  color: var(--color-secundario);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: fit-content;
  /* Ajusta el ancho al contenido */
  border-radius: 10px;
  background-color: var(--bg-border);
  margin-bottom: 1rem;
}

.contenido h1 {
  text-align: center;
  font-size: 3.5rem;
}

.contenido span {
  font-size: 3.5rem;
  font-weight: 800;
  background: linear-gradient(to right, #3b82f6, #9333ea, #4b5563);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenido p {
  margin: 1rem auto;
  width: 90%;
  font-size: 1.5rem;
  color: var(--color-heading);
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.contacto h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--contacto);
  margin-bottom: 1rem;
}

.meta {
  margin: 0 auto;
  padding: 1.5rem;
}

.imagen {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 2rem;
  background-image: url(../img/plc.jpg);
  /* Añadiendo imagen */
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  border-radius: 20px;
  border: 3px solid var(--color-svg);
  overflow: hidden;
}

.legend--proyectos {
  margin-top: 2rem;
}

/* footer */
.footer {
  width: 100%;
}

.footer h3 {
  margin: 1.5rem 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Sobre mi */
.principal {
  width: 90%;
  margin: 0 auto; /* Para que no llegue a las orillas */
}

.titulo {
  margin-bottom: 2rem;
}

.titulo h4 {
  color: var(--color-svg);
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: revert-layer;
}

.titulo h1 {
  font-size: 3.2rem;
}

.titulo span {
  font-size: 3.2rem;
  font-weight: 800;
  background: linear-gradient(to right, #3b82f6, #9333ea, #4b5563);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenido-sobre-mi p {
  color: var(--contacto);
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.foto {
  margin: 0 auto;
  background-image: url(../img/yo.jpg);
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border: 3px solid var(--color-svg);
  overflow: hidden;
}

.card {
  margin: 0 auto;
  margin-top: 2rem;
  background-color: var(--color-card);
  width: 40%;
  border-radius: 10px;
  padding: 0.5rem;
}

.card h3 {
  color: var(--color-sobre-mi);
  text-align: center;
}

.card p {
  font-size: 1.5rem;
  color: var(--contacto);
  text-align: center;
}

.botones {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn-primario {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--color-btn-primario);
  border-radius: 15px;
  padding: 1rem;
}

.btn-secundario {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: 2px solid var(--color-btn-primario);
  border-radius: 15px;
  padding: 1rem;
}

.intereses {
  margin-top: 2rem;
  background-color: var(--bg-border);
  padding: 5rem 0;
}

.intereses h1 {
  width: 90%;
  margin: 0 auto; /* Para que no llegue a las orillas */
  margin-bottom: 1rem;
}

.intereses p {
  width: 90%;
  margin: 0 auto; /* Para que no llegue a las orillas */
  color: var(--contacto);
  font-size: 1.5rem;
  line-height: 1.4;
}

.card--habilidades {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 2rem;
}

.card__icono{
  background-color: var(--bg-card-habilidades);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;  /* Tamaño del círculo */
  height: 6rem;
  border-radius: 50%; /* Fondo circular */
  padding: 0.7rem; /* Espacio interno */
  margin-bottom: 1rem;

}

.card__icono svg {
  width: 3rem;  /* Tamaño del icono */
  height: 3rem;
}

.card--habilidades p {
  width: 100%;
  text-align: initial;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.herramientas {
  background-color: var(--color-herramientas);
  padding: 3rem 0;
}

.herramientas h4 {
  text-align: center;
  color: var(--contacto);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.herramientas__iconos p {
  color: var(--color-heading);
  font-size: 1.5rem;
}

.herramientas__iconos svg {
  width: 100%;
  height: auto;
  width: 4rem;
}

.herramientas__iconos {
  margin-top: 2rem;
  display: block;
  text-align: center;
}

.btn-primario--footer {
  width: 40%;
  padding: 0.2rem;

}

.btn-primario--footer p{
  width: 100%;
  text-align: center;
  margin: 0.8rem auto;

}

.footer__contacto {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer__contacto svg {
  width: 100%;
  height: auto;
  width: 4rem;
}  















































































/* Media Queries */
/* header */
@media (min-width: 768px) {
  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
  }

  .navegacion {
    margin-right: 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .navegacion__direccion {
    display: inline;
    text-align: left;
    margin-top: 0;
    margin: 0;
  }

  /* main */
  .hero {
    margin-top: 6rem;
    display: grid;
    grid-auto-flow: column;
    /*para que los elementos se coloquen en columnas*/
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    flex: 1;
    /* Ocupa el espacio disponible y empuja el footer al fondo */
    margin-left: 5rem;
    margin-bottom: -6rem;
  }

  .contacto {
    display: grid;
    grid-row: 2/3;
    justify-self: start;
    gap: 4rem;
    margin-top: -26rem;
  }

  .contacto h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--contacto);
    margin-left: -3rem;
  }

  .redes {
    display: flex;
    margin-top: -9rem;
    margin-left: 3rem;
  }

  .redes svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    /* Tamaño del círculo */
    height: 5rem;
    background-color: var(--bg-border);
    border-radius: 50%;
    padding: 1rem;
    /* Espacio interno */
    margin-top: -4rem;
  }

  .legend {
    font-weight: 800;
    color: var(--color-secundario);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: fit-content;
    /* Ajusta el ancho al contenido */
    border-radius: 10px;
    background-color: var(--bg-border);
  }

  .contenido h1 {
    font-size: 8rem;
  }

  .contenido span {
    font-size: 8rem;
  }

  .contenido {
    margin-bottom: 5rem;
  }

  .contenido p {
    font-size: 1.8rem;
    width: 80%;
    margin-bottom: 25rem;
  }
  /* footer */
  .footer h3 {
    font-size: 1.6rem;
    margin-right: 3rem;
  }

  .navegacion__footer {
    display: flex;
    gap: 2rem;
    margin-left: 3rem;
  }
}
