:root {
  --color-primario: #101621;
  --color-heading: #ffffff;
  --fuente-prinipal: "Roboto", sans-serif;
  --color-svg: #125aea;
  --color-border: #1b3c6e;
  --color-secundario: #1250cf;
  --bg-border: #101c36;
  --contacto: #7a879c;
}
html {
  box-sizing: border-box; /*El box-sizing es para que el padding no afecte el ancho de los elementos*/
  font-size: 62.5%; /*Para que 1 rem = a 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--fuente-prinipal);
  margin: 0;
  font-size: 2.2rem;
}
a {
  text-decoration: none;
  color: var(--color-heading);
  font-family: var(--fuente-prinipal);
  font-size: 1.5rem;
  font-weight: 400;
}
body {
  font-family: var(--fuente-prinipal);
  margin: 0; /* Elimina el margen por defecto del body */
  display: flex;
  flex-direction: column; /* Para que el footer se mantenga al final */
  /* Fondo con degradado radial */
  background-color: #0a1628;
  background-image: radial-gradient(
      circle at top right,
      rgba(59, 130, 246, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(109, 40, 217, 0.2),
      transparent 40%
    );
  min-height: 100vh;
  /* Fondo con degradado radial */
}
/* Header */
.contenedor {
    background-color: var(--color-primario);
    margin: 0 auto;
    padding: 1rem;
}
.logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.navegacion__direccion {
    display: block;
    text-align: center;
    margin-top: 0.7rem;
}
.navegacion__direccion:last-child {
    margin-bottom: none;
}
